/* Eczar */
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500;600;700&display=swap');

/* Space Grotesk */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    /* font-family: 'Eczar', serif; */
    color: #171923;
    background-color: #EDF2F7;
}

.ContentContainer {
    max-width: 1440px;
    margin: 12px auto;
    padding: 0 16px;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    grid-gap: 1.5rem;
}

.GridItem {
    /* background-color: aquamarine; */
    padding-bottom: 66%;
    /* box-shadow: inset 0 0 0 1px #CBD5E0; */
    position: relative;
    background-color: #fff;
}

.LinkBlock { 
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
  
    z-index: 1;
  
    /* fixes overlap error in IE7/8, 
       make sure you have an empty gif */
    background-image: url('empty.gif');
}   

.ProjectName {
    position: absolute;
    left: 16px;
    bottom: 16px;
}

/* DIVIDERS */

.divider8 {
    height: 8px;
    width: 100%;
}

.divider24 {
    height: 24px;
    width: 100%;
}


h3 {
    font-weight: 500;
}


