.ProjectsContainer {
    margin: 32px;
}

.ProjectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-gap: 24px;
}

.ProjectItem {
    width: 100%;
    /* background-color: aliceblue; */
    box-shadow: 0px 0px 0px 1px #CBD5E0;
    padding: 20px;
    /* line-height: 200%; */
}

.ProjectItem a {
    color: #718096;
}