/* PROJECTS */

.projects__grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
	grid-gap: 24px;
	width: 100%;
	margin-top: 12px;
}

.projects__grid__item {
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 0 1px var(--blueGray100);
}

.projects__grid__item__caption {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.projects__grid__item__caption__title {
	font-size: var(--fontSize4);
}

.projects__grid__item__caption__category {
	display: inline-block;
	color: white;
	padding: 4px 6px;
	border-radius: 4px;
	font-size: var(--fontSize7);
}

.projects__grid__item__description {
	margin: 12px 0;
	line-height: 150%;
	color: var(--blueGray700);
}

/* TAGS */
.projects__grid__item__tags {
	display: flex;
	gap: 8px;
	margin-top: 12px;
}

.projects__grid__item__tags__item {
	color: var(--blueGray700);
	padding: 6px 8px;
	background-color: var(--blueGray50);
	border-radius: 4px;
}

/* LINKS */
.projects__grid__item__links {
	display: flex;
	gap: 16px;
	margin-top: 16px;
}

.projects__grid__item__links__item {
	color: var(--blueGray700);
}

.projects__grid__item__links__item:hover {
	color: var(--blueGray900);
	box-shadow: 0 2px 0 var(--blueGray900);
}
