.projects__grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
	grid-gap: 24px;
	width: 100%;
	margin-top: 12px;
	max-height: 0;
}

.projects__grid__item {
	padding: 20px;
	border-radius: 8px;
	background-color: var(--blueGray800);
}

.projects__grid__item__title {
	font-size: var(--fontSize4);
}

.spanColor {
	color: var(--blueGray400);
}
