.ProjectsContainer {
    margin: 32px;
}

.ProjectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-gap: 24px;
    /* grid-auto-flow: column; */
}

.ProjectItem {
    box-shadow: 0px 0px 0px 1px #CBD5E0;
    padding: 20px;
    border-radius: 4px;
    /* height: 100%; */
}


.SpanColor {
    color: #718096;
}