/* SKILLS */

.skills__container {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-top: 12px;
}

.skills__container__tag {
	display: inline-block;
	padding: 8px 12px;
	background-color: var(--blueGray50);
	border-radius: 4px;
}
