@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;800&display=swap");

:root {
	/* FLUENT UI https://developer.microsoft.com/en-us/fluentui#/styles/web/colors/neutrals */

	/* COLORS */
	/* --gray220: #11100f;
	--gray200: #1b1a19;
	--gray180: #252423;
	--gray160: #323130;
	--gray140: #484644;
	--gray120: #797775;
	--gray100: #979593;
	--gray80: #b3b0ad;
	--gray60: #c8c6c4;
	--gray40: #e1dfdd;
	--gray20: #f3f2f1; */

	/* MATERIAL PALETTE https://developer.microsoft.com/en-us/fluentui#/styles/web/colors/neutrals */

	/* COLORS */
	--blueGray900: #263238;
	--blueGray800: #37474f;
	--blueGray700: #455a64;
	--blueGray600: #546e7a;
	--blueGray500: #607d8b;
	--blueGray400: #78909c;
	--blueGray300: #90a4ae;
	--blueGray200: #b0bec5;
	--blueGray100: #cfd8dc;
	--blueGray50: #eceff1;

	/* FONT SIZE */
	--fontSize1: 3.052rem;
	--fontSize2: 2.441rem;
	--fontSize3: 1.953rem;
	--fontSize4: 1.563rem;
	--fontSize5: 1.25rem;
	--fontSize6: 1rem;
	--fontSize7: 0.8rem;

	/* FONT WEIGHT */
	--black: 800;
	--bold: 600;
	--medium: 400;
	--light: 300;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 18px; /* Root font size */
}

body {
	font-family: "Karla", sans-serif;
	color: white;
	background-color: var(--blueGray900);
}

a {
	text-decoration: none;
	color: white;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.App {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 24px;
}


/* TYPOGRAPHY */

h2 {
	font-size: var(--fontSize2);
}

h3 {
	font-size: var(--fontSize3);
}

.text {
	font-size: var(--fontSize5);
}