@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
}

body, a {
    color: #171923;
}

a {
    text-decoration: none;
}


.divider4 { height: 4px; width: 100%; }
.divider8 { height: 8px; width: 100%; }
.divider12 { height: 12px; width: 100%; }
.divider16 { height: 16px; width: 100%; }
.divider24 { height: 24px; width: 100%; }
.divider32 { height: 32px; width: 100%; }