@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;700;900&display=swap");

:root {
	/* FLUENT UI https://developer.microsoft.com/en-us/fluentui#/styles/web/colors/neutrals */

	/* COLORS */
	--blueGray900: #263238;
	--blueGray800: #37474f;
	--blueGray700: #455a64;
	--blueGray600: #546e7a;
	--blueGray500: #607d8b;
	--blueGray400: #78909c;
	--blueGray300: #90a4ae;
	--blueGray200: #b0bec5;
	--blueGray100: #cfd8dc;
	--blueGray50: #eceff1;

	--cyanA200: #18ffff;
	--cyanA400: #00e5ff;
	--indigoA700: #304ffe;
	--deepOrangeA400: #ff3d00;

	/* FONT SIZE */
	--fontSize1: 3.052rem;
	--fontSize2: 2.441rem;
	--fontSize3: 1.953rem;
	--fontSize4: 1.563rem;
	--fontSize5: 1.25rem;
	--fontSize6: 1rem;
	--fontSize7: 0.8rem;

	/* FONT WEIGHT */
	--black: 900;
	--bold: 700;
	--medium: 500;
	--light: 300;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 17px; /* Root font size */
}

body {
	font-family: "Mulish", sans-serif;
	color: var(--blueGray900);
}

.App {
	display: flex;
	flex-direction: column;
	gap: 32px;
	max-width: 1024px;
	margin: 24px auto;
	padding: 0 24px;
}

a {
	text-decoration: none;
}

/* TYPOGRAPHY */

h1 {
	font-size: var(--fontSize1);
	font-weight: var(--black);
}

h2 {
	font-size: var(--fontSize2);
	font-weight: var(--black);
}

h3 {
	font-size: var(--fontSize3);
	font-weight: var(--black);
}

.text {
	font-size: var(--fontSize5);
	line-height: 150%;
}

/* --- */
.blueGray200 {
	color: var(--blueGray200);
}
